*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    background: rgb(232, 214, 203);
}

.wrapper .dynamic-text {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-text li{
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    color: rgb(156, 181, 216);

}

.dynamic-text li span{
    position: relative;
}

.wrapper .dynamic-text li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(232, 214, 203);
    border-left: 5px solid #082b5c;
    animation: typing 5s steps(31) forwards;
}

@keyframes typing {
    100%{
        left: 100%;
    }
}


.boxes {
    display: flex;
    position: absolute;
    top: 60%;
    left: 15%;
    transition: translate(-50%,-50%);
    text-align: center;
    
}

.box1 {
    border: 1em black;
    margin: 1em;
    padding: 1em;
}

.box2 {
    border: 1em black;
    margin: 1em;
    padding: 1em;

}

a{
    text-decoration: none;
    font-size: 1.5em;
}

a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #5d2e46;
    display: block;
    margin: auto;
    transition: 0.5s;
}

a:hover::after{
    width: 100%
}


